.opacity-exito {
  background: url('../../../../../public/assets/images/bg-opacity.png') 0px 0px repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000;
}

  .opacity-exito .loading {
    background: url(../../../../../public/assets/gif/loading.gif) center center no-repeat #000;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 110;
  }
