
/* ======== Columnas Fijas a la Izquierda ======== */
::ng-deep .ngx-datatable.fixed-header .datatable-row-left {
  position: sticky !important;
  left: 0 !important;
  z-index: 3 !important;
  background-color: white !important; 
}
/* Mantiene el color del encabezado de columnas fijas */
::ng-deep .ngx-datatable.fixed-header .datatable-header .datatable-row-left {
  z-index: 2 !important;
  background-color: #32509d !important;
  color: white !important;
}
/* Borde visual entre las fijas y las scrollables */
::ng-deep .ngx-datatable .datatable-row-left:last-child {
  border-right: 1px solid #ccc !important;
}

/* Para celdas de las 3 primeras columnas */
::ng-deep .ngx-datatable.fixed-header .datatable-body .datatable-row-left .datatable-body-cell {
  background-color: #ffffff !important;
  z-index: 11 !important;
  position: sticky !important;
  left: 0 !important;
}

/* Encabezado con scroll */
::ng-deep .ngx-datatable .datatable-header {
  overflow: hidden !important;
}
