<div id="contenedor" class="col-12 m-0 pt-3" (contextmenu)="denyRightClick($event)">
  <!-- botones cabecera -->
  <div class="container-button">
    <button class="button-header" (click)="CalcularCompra()">
      <i class="fa-solid fa-calculator"></i>
      Calcular Compra
    </button>
    <button class="button-header" data-toggle="modal" data-target="#ordenCompra">
      <i class="fa-solid fa-file-medical"></i>
      Generar O/C
    </button>
    <button class="button-header">
      <i class="fa-solid fa-file-lines"></i>
      Ver o/c
    </button>
    <button class="button-header" data-toggle="modal" data-target="#generarbasadaoc">
      <i class="fa-solid fa-file-medical"></i>
      Generar en base O/C
    </button>
    <button class="button-header">
      <i class="fa-solid fa-file-import"></i>
      Inportar Excel
    </button>
    <button class="button-header" (click)="clearField()">
      <i class="fa-solid fa-broom"></i>
      Limpiar
    </button>
  </div>
  <!-- End botones cabecera -->
  <hr size="10px" width="100%" color="134B97" />

  <div class="col-12 m-0 p-0">
    <div class="col-12 m-0 p-0 d-flex align-items-stretch gap-3">
      <!-- proveedor -->
      <div class="m-0 p-0">
        <div>
          <label class="label-text" for="proveedor">Proveedores</label>
        </div>
        <select
          class="input-select"
          id="proveedor"
          [(ngModel)]="proveedor"
          (change)="onChangeProveedor()"
        >
          <option value="0" disabled>--Seleccione--</option>
          <option
            *ngFor="let item of proveedores"
            [ngValue]="item.codigoProveedor"
            [disabled]="proveedor == item.codigoProveedor"
          >
            {{ item.descripcion }}
          </option>
        </select>
      </div>
      <!-- end proveedor -->
      <!-- laboratorio -->
      <div class="m-0 p-0">
        <div class="">
          <form [formGroup]="opcionesForm">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkTodos"
                formControlName="todos"
                (change)="onCheckChange('todos')"
              />
              <label class="label-text" for="checkTodos">Todos los Laboratorios</label>
              <br />
            </div>
          </form>
        </div>

        <div ngbDropdown class="fondoSelect col-12 p-0 m-0 menu-laboratorio">
          <div ngbDropdownMenu class="dropdown-scroll p-0 m-0">
            <div *ngFor="let item of laboratorios" class="form-check label-check-lab m-0 p-0 pl-4">
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="item.selected"
                id="{{ item.codigoLab }}"
              />
              {{ item.descripcion }}
            </div>
          </div>
        </div>
      </div>
      <!-- end laboratorio -->
      <!-- politicas invetario -->
      <div class="m-0 p-0 options">
        <div class="m-0 p-0 d-flex d-flex align-items-center gap-2">
          <label class="label-text" for="checkTodos">Política de Inventario (Día)</label>
          <!-- icon -->
          <div>
            <a
              type="button"
              class="dropdown-item m-0 p-0"
              data-toggle="modal"
              data-target="#politicaInventario"
            >
              <i class="fa-solid fa-circle-info" title="Política de Inventario (Día)"> </i>
            </a>
          </div>
          <!-- end icon -->
        </div>
        <!-- tabla de CosCom -->
        <div *ngIf="conscom">
          <table class="table-style">
            <thead>
              <tr>
                <th>CosCom</th>
                <th>CosCom+Impto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text">{{ conscom }}</td>
                <td class="center-text">{{ conscomImpto }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- End politivas invetario -->
    </div>
  </div>

  <!-- tablas -->
  <div class="col-12 m-0 p-0 mt-2 d-flex align-items-baseline gap-4">
    <!-- tabla ultimas compras -->
    <div class="col-md-6 m-0 p-0">
      <div class="subtitle mb-3">Últimas Compras</div>
      <div class="m-0 p-0 table-scroll" (contextmenu)="openContextMenu($event, 2)">
        <table id="tablaUltimasCompras" class="table-style2 m-0 p-0">
          <thead>
            <tr>
              <th *ngFor="let data of headTableUltimasCompras">
                {{ data }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rowsUCompras">
              <td>{{ item.nombreProveedor }}</td>
              <td>{{ item.orden }}</td>
              <td>{{ item.fecha | date : 'dd/MM/yyyy' }}</td>
              <td>{{ item.cantE }}</td>
              <td>{{ item.cantF }}</td>
              <td>{{ item.VVF | number : '1.2-2' }}</td>
              <td>{{ item.dscto1 | number : '1.2-2' }}</td>
              <td>{{ item.dscto2 | number : '1.2-2' }}</td>
              <td>{{ item.dscto3 | number : '1.2-2' }}</td>
              <td>{{ item.dscto4 | number : '1.2-2' }}</td>
              <td>{{ item.bonificacion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End tabla -->

    <!-- Tabla Últimos ingresos -->
    <div class="col-md-6 m-0 p-0 pr-4">
      <div class="subtitle mb-3">Últimas ingresos</div>
      <div class="m-0 p-0 table-scroll" (contextmenu)="openContextMenu($event, 2)">
        <table id="tablaUltimosIngresos" class="table-style2">
          <thead>
            <tr>
              <th *ngFor="let data of headTableUltimosIngresos">
                {{ data }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rowsUIngresos">
              <td>{{ item.invNum }}</td>
              <td>{{ item.nombreProveedor }}</td>
              <td>{{ item.documento }}</td>
              <td>{{ item.fechaIngreso | date : 'dd/MM/yyyy' }}</td>
              <td>{{ item.ordenCompra | date : 'dd/MM/yyyy' }}</td>
              <td>{{ item.cantE }}</td>
              <td>{{ item.cantF }}</td>
              <td>{{ item.VVF | number : '1.2-2' }}</td>
              <td>{{ item.dscto1 | number : '1.2-2' }}</td>
              <td>{{ item.dscto2 | number : '1.2-2' }}</td>
              <td>{{ item.dscto3 | number : '1.2-2' }}</td>
              <td>{{ item.dscto4 | number : '1.2-2' }}</td>
              <td>{{ item.bonificacion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End tabla -->
  </div>
  <!-- end tablas -->

  <!-- tabla Analisis compras -->
  <div class="col-12 m-0 p-0 mt-2">
    <!-- head y filter -->
    <div class="d-flex align-items-baseline justify-content-between m-0 p-0">
      <div class="subtitle mb-3">Análisis Compras</div>

      <!-- Filtro de la tabla de A.Compra -->
      <a
        class="dropdown-toggle"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        data-bs-auto-close="false"
      >
        <i class="fa-solid fa-filter .icon-filter-colunm-hidden"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--grow-in filter-table"
        aria-labelledby="userDropdown"
      >
        <!-- Listado de columnas filtro -->
        @for(data of headTableAnalisisCompra; track data; let index = $index){ @if(index > 2){
        <div class="dropdown-item form-check" data-toggle="modal">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            (change)="deleteColumn(data, 'tablaAnalisiCompra', $event)"
            checked
          />
          <label class="form-check-label" for="{{ data }}"> {{ data }} </label>
        </div>
        } }
        <!-- End Listado de columnas filtro -->
      </div>
      <!-- End Filtro de la tabla de A.Compra -->
    </div>
    <!-- tabla -->
    <div
      id="container-table"
      class="m-0 p-0 table-scroll-AC col-12"
      (contextmenu)="openContextMenu($event, 1)"
    >
      <table id="tablaAnalisiCompra" class="table-style table-fixed">
        <thead>
          <tr id="header-row">
            <th draggable="true" *ngFor="let data of headTableAnalisisCompra">
              {{ data }}
              @if( data == 'Condición' ){
                <i class="fa-solid fa-filter text-light" (click)="openContextMenu($event, 4)"></i>
              }
            </th>
          </tr>
        </thead>
        <tbody id="body">
          <tr
            (click)="getTableUltimasCompras(data)"
            *ngFor="let data of rows; let i = index"
            (mouseenter)="isHovering = true"
            (mouseleave)="isNotRowHover()"
            (mouseover)="onRowHover(i)"
            (click)="isRowSelected = i"
            [class.selected]="isRowSelected === i"
          >
            <td [ngClass]="siRowSelectedHover(i)">{{ data.codProducto }}</td>
            <td [ngClass]="siRowSelectedHover(i)">{{ data.nombreProducto }}</td>
            <td [ngClass]="siRowSelectedHover(i)">{{ data.nombreLaboratorio }}</td>
            <td class="center-text">{{ data.unidadEmpaque }}</td>
            @if(isRowSelected === i){
            <td class="center-text">
              <select class="input-select-table-AC" id="proveedor" [(ngModel)]="data.condicion">
                <option value="0" disabled>--Seleccione--</option>
                <option *ngFor="let data of condiciones" [ngValue]="data.codigoCondicion">
                  {{ data.descripcion }}
                </option>
              </select>
            </td>
            } @else {

            <td class="center-text">{{ getNameCondicion(data.condicion) }}</td>
            }

            <td class="center-text">{{ data.ABC }}</td>
            <td class="center-text">{{ data.mesQuinto | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.mesCuarto | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.mesTercero | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.mesSegundo | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.mesPrimero | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.mesActual | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.mesActualProyeccion | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.promMes | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.preCompra | number : '1.2-2' }}</td>
            <!-- Compra Final -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input
                type="number"
                placeholder=""
                class="input-table-AC"
                [(ngModel)]="data.compraFinal"
              />
            </td>
            } @else {
            <td class="center-text">{{ data.compraFinal | number : '1.2-2' }}</td>
            }
            <!-- End Compra Final -->

            <!-- Bonificación -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input
                type="number"
                placeholder=""
                class="input-table-AC"
                [(ngModel)]="data.bonificacion"
              />
            </td>
            } @else{
            <td class="center-text">{{ data.bonificacion | number : '1.2-2' }}</td>
            }
            <!-- End Bonificación -->

            <td class="center-text">{{ data.almacen | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.org | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.canje | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.logisticaInversa | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.oc | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.cobOrgAct | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.maxInfraStock | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.VVF1 | number : '1.2-2' }}</td>
            <!-- VVF2 -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input type="number" placeholder="" class="input-table-AC" [(ngModel)]="data.VVF2" />
            </td>
            } @else {
            <td class="center-text">{{ data.VVF2 | number : '1.2-2' }}</td>
            }
            <!-- End VVF2 -->

            <!-- Descuento1 -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input
                type="number"
                placeholder=""
                class="input-table-AC"
                [(ngModel)]="data.descuento1"
              />
            </td>
            }@else{
            <td class="center-text">{{ data.descuento1 | number : '1.2-2' }}</td>
            }
            <!-- End Descuento1 -->

            <!-- Descuento2 -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input
                type="number"
                placeholder=""
                class="input-table-AC"
                [(ngModel)]="data.descuento2"
              />
            </td>
            } @else{
            <td class="center-text">{{ data.descuento2 | number : '1.2-2' }}</td>
            }
            <!-- ENd Descuento2 -->

            <!-- Descuento3 -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input
                type="number"
                placeholder=""
                class="input-table-AC"
                [(ngModel)]="data.descuento3"
              />
            </td>
            }@else{
            <td class="center-text">{{ data.descuento3 | number : '1.2-2' }}</td>
            }
            <!-- End Descuento 3 -->

            <!-- Descuento4 -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input
                type="number"
                placeholder=""
                class="input-table-AC"
                [(ngModel)]="data.descuento4"
              />
            </td>
            }@else{
            <td class="center-text">{{ data.descuento4 | number : '1.2-2' }}</td>
            }
            <!-- End Descuento4 -->

            <!-- CosCom -->
            @if(isRowSelected === i){
            <td class="center-text">
              <input
                type="number"
                placeholder=""
                class="input-table-AC"
                [(ngModel)]="data.cosCom"
              />
            </td>
            }@else{
            <td class="center-text">{{ data.cosCom | number : '1.2-2' }}</td>
            }
            <!-- End Coscom -->

            <td class="center-text">{{ data.parcial | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.igv | number : '1.2-2' }}</td>
            <td class="center-text">{{ data.total | number : '1.2-2' }}</td>
            <td>{{ data.observaciones }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- end tabla Analisis compras -->

  <div class="col-12 d-flex align-items-baseline justify-content-end gap-3 mt-3 mb-3">
    <p class="text-total-value">Total Parcial: {{ totalParcial | number : '1.2-2' }}</p>
    <p class="text-total-value">Total IGV (18%): {{ totalIGV | number : '1.2-2' }}</p>
    <p class="text-total-value">Total Pagar: {{ totalPagar | number : '1.2-2' }}</p>
  </div>
</div>

<!-- MODAL -->
<!-- modal politicas de inventario -->
<div
  class="modal fade"
  id="politicaInventario"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="10"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header p-2 m-0 d-flex align-items-center justify-content-between style-header-popup"
      >
        <p class="title-modal p-0 m-0">Política de Inventario (Día)</p>
        <button type="button" class="button-cancel" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-inventory-policy></app-inventory-policy>
      </div>
    </div>
  </div>
</div>
<!-- End modal politicas de inventario -->

<!-- modal Generar Orden de compra -->
<div
  class="modal fade"
  id="ordenCompra"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="10"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div
        class="modal-header p-2 m-0 d-flex align-items-baseline justify-content-between style-header-popup"
      >
        <p class="title-modal p-0 m-0">Nueva Orden de Compra</p>
        <button type="button" class="button-cancel" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-purchase-order></app-purchase-order>
      </div>
    </div>
  </div>
</div>
<!-- End modal Generar Orden de compra basa en otra OC -->
<div
  class="modal fade"
  id="generarbasadaoc"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="10"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header p-2 m-0 d-flex align-items-baseline justify-content-between style-header-popup"
      >
        <p class="title-modal m-0 p-0">Generar en base a una O/C</p>
        <button type="button" class="button-cancel" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-baseline gap-2">
          <label for="fechacreacion">Número de O/C</label>
          <input type="number" placeholder="Orden de compra" />
          <button class="button-style">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
<app-option-click (action)="handleMenuAction($event)"></app-option-click>
<!-- end modal -->
