i {
  color: #32509d;
  font-size: 1.2rem;
  cursor: pointer;
}

#contenedor {
  font-family: 'Montserrat';
}

.text-total-value {
  font-size: 11px;
  color: black;
  background: white;
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1.25px;
  color: #134B97;
}

.label-text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #3C3C3C;

}

.input-select {
  box-sizing: border-box;
  width: 200px;
  width: auto;
  height: 35px;

  background: #FFFFFF;
  border: 1px solid rgba(175, 167, 167, 0.7);
  border-radius: 4px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: #7A7A7A;
  padding: 5px;
  font-size: 10px;
}



.container-button {
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
}

.button-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  gap: 8px;

  width: 210PX;
  height: 40px;

  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  font-size: 11px;

  font-family: 'Montserrat';
  font-style: normal;


  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #32509d;
}

.button-header:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #32509d;
  border: 1px solid #32509d;
  border-radius: 4px;
  font-size: 11px;

  font-family: 'Montserrat';
  font-style: normal;


  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #FFFFFF;
}

.button-header i {
  width: 13px;
}

.button-header:hover i {
  width: 13px;
  color: #FFFFFF;
}

/* Estilo de la tabla */
.table-scroll {
  overflow-x: auto;
  overflow-y: auto;
 max-height: 320px;
  width: 100%;
}

.table-style{
  border: #DCEBFF solid;
  width: 100%;
   min-height: 250px;
  max-height: 250px;
}

.table-style2{
  border: #DCEBFF solid;
  min-height: 110px;
  max-height: 110px;
}

.table-style2 thead th {
  background: #134B97;
  color: white;
  text-align: center;  
 
}

.table-style thead th {
  background: #134B97;
  color: white;
  text-align: center;
  
}

.table-style th,
td {
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
}

.table-style2 th,
td {
  height: 10px;
  font-family: 'Montserrat';
  font-style: normal;
}

.table-style th {
  font-weight: bold;
  font-size: 11px;
  color: black;
  background: white;
}

.table-style2 th {
  font-weight: bold;
  font-size: 11px;
  color: black;
  background: white;
}

.table-style td {
  font-size: 11px;
  color: #3C3C3C;
  background: white;
}

.table-style2 td {
  font-size: 11px;
  color: #3C3C3C;
  background: white;
}

.table-style th,
td {
  white-space: nowrap;
  text-align: left;
  padding: 4px;
}

.table-style2 th,
td {
  white-space: nowrap;
  text-align: left;
  padding: 2px;
  border-bottom: 0.5px solid #DCEBFF;
}


.table-fixed {
  width: max-content;
  table-layout: auto;
}


.table-fixed th,
.table-fixed td {
  text-align: left;
  padding: 4px;
}


.table-fixed thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-fixed thead th:nth-child(1),
th:nth-child(2),
th:nth-child(3) {
  z-index: 5 !important;
}

.table-fixed th:nth-child(1),
.table-fixed td:nth-child(1) {
  position: sticky;
  left: 0;
  min-width: 60px;
  z-index: 4;
  background: #B0E0E6;
}

.table-fixed th:nth-child(2),
.table-fixed td:nth-child(2) {
  position: sticky;
  left: 60px;
  min-width: 200px;
  z-index: 4;
  background: #B0E0E6;
}

.table-fixed th:nth-child(3),
.table-fixed td:nth-child(3) {
  position: sticky;
  left: 250px;
  min-width: 100px;
  z-index: 4;
  background: #B0E0E6;
}

/* End estilos de la tabla */
.title-modal {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 0px;
}

.button-cancel {

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 4px;

  width: auto;
  height: 25px;

  background: #FB2C36;
  border: 1px solid #FB2C36;
  border-radius: 4px;
  font-size: 13px;

  font-family: 'Montserrat';
  font-style: normal;


  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #ffffff;
}

.button-cancel:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: white;
  border: 1px solid #FB2C36;
  border-radius: 4px;
  font-size: 13px;

  font-family: 'Montserrat';
  font-style: normal;


  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #FB2C36;
}

.laboratorio-seleccionado {
  background: #DCEBFF;
}

.style-header-popup {
  background: #134B97;
  color: white;
  padding: 10px;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-style {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  gap: 4px;

  width: auto;
  height: 40px;

  background: #134B97;
  border: 1px solid #134B97;
  border-radius: 4px;
  font-size: 11px;

  font-family: 'Neo Sans Std';
  font-style: normal;

  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: white;

}

.fondoSelect {
  background-color: #fff;
  color: #6e707e;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
}

.label-check-lab {
  font-size: 10px;
}

.dropdown-scroll {
  max-height: 150px !important;
  min-height: 150px !important;
  overflow-y: auto !important;
  overflow-x: hidden;
  min-width: 250px;
  display: block !important;
  position: static !important;
}

.filter-table {
  height: 200px;
  overflow-y: auto;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6a11cb 0%, #2575fc 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
}