#contenedor{
  font-family: 'Montserrat';
}

.custom-material .form-control:focus+label {
  color: #8C4799;
}

.custom-material .has-float-label label {
  color: #7E7E7E;
}


.datatable-header-cell:before {
  content: "";
  display: block;
  background: #c4c4c4;
  width: 1px;
  height: 29px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14.5px;
}

.datatable-header-cell:first-child:before {
  display: none;
}

.logo-tamanio {
  padding: 0rem;
  width: 300px;
}

.menu-fixed {
  overflow: hidden;
}

.title-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: auto;
  font-size: 20px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1.25px;
  color: #474747;
}

.button-nav-small {
  padding: 10px;
}

.button-nav-large {
  padding: auto;
  display: flex;
  gap: 2px;
  align-content: baseline;
}

/* ----- */

.nav-small {
  width: var(--nav-small);
  transition: width 0.5s;
}

.nav-large {
  width: var(--nav-large);
  transition: width 0.5s;
}

.container-small {
  margin-left: var(--nav-small);
  transition: margin 0.5s;
}

.container-large {
  margin-left: var(--nav-large);
  transition: margin 0.5s;
}

.text-hidden {
  visibility: hidden;
  display: none;
}

.text-visible {
  visibility: visible;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 160px; */
  background-color: #134B97;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 12px;
  color: white !important;
}


ul li a.active {
  margin: 5px;
  background-color: white;
  color: black !important;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  gap: 2px;
}

ul li a.active i {
  color: #D12027;
}

ul li a:hover:not(.active) {
  background-color: rgb(0, 97, 228);
}

.conteiner-contenido {
  padding: 1px 16px;
  height: 80vh;
}

.logo-cabecera {
  width: 150px;
  margin: 0%;
  padding: 0%;
}

li:focus a {
  background: red !important;
}

.icon-nav {
  color: white;
}


:root {
  --nav-large: 200px;
  --nav-small: 50px;
}