.modal-product .modal-dialog {
    max-width: 1000px !important;
    width: 900 !important;
    position: absolute !important;
    z-index: 1060;
    top: 8%;
    left: 30%;
}

.modal {
    background: none !important;
    pointer-events: none;
}

.modal-body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #3C3C3C;
}

.input-search {
    box-sizing: border-box;
    width: 300px;
    height: 30px;

    background: #FFFFFF;
    border: 0.5px solid rgba(175, 167, 167, 0.7);
    border-radius: 4px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    padding: 1px;
    margin: 0px;
    font-size: 10px;
    text-align: left;
}

.modal-body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.header-modal {
    background: #134B97;
    color: white;
    cursor: move;
}

.button-cancel:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: white;
    border: 1px solid #FB2C36;
    border-radius: 4px;
    font-size: 12px;

    font-family: 'Montserrat';
    font-style: normal;


    display: flex;
    align-items: center;
    letter-spacing: 1.25px;

    color: #FB2C36;
}

.button-cancel {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: auto;
    height: 25px;

    background: #FB2C36;
    border: 1px solid #FB2C36;
    border-radius: 4px;
    font-size: 12px;

    font-family: 'Montserrat';
    font-style: normal;


    display: flex;
    align-items: center;
    letter-spacing: 1.25px;

    color: #ffffff;
}

.title-modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    padding: 0px;
}

.table-scroll {
    width: 100%;
    height: 300px;
    padding: 0px;
    overflow-y: auto !important;
    overflow-x: auto !important;
    display: block !important;
    position: static !important;
    border: #DCEBFF solid;
    scrollbar-color: #B0E0E6 white !important;
}

.table-style thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    margin: 0px;
}

.table-style {
    width: 100%;
    min-height: auto;
}

.table-style thead th {
    background: #134B97;
    color: white;
}

.table-style th,
td {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 22px;
}

.table-style th {
    font-weight: bold;
    font-size: 10px;
    color: black;
    background: white;
}

.table-style td {
    font-size: 10px;
    color: #3C3C3C;
}

.table-style th,
td {
    text-align: center;
    white-space: nowrap;
    padding: 0px 8px;
    text-align: center;
    margin: 0px;
}

tbody tr:hover {
    cursor: pointer;
    background: #B0E0E6 !important;
}

.button-style {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: auto;
    height: 30px;

    background: #134B97;
    border: 1px solid #134B97;
    border-radius: 4px;
    font-size: 11px;

    font-family: 'Neo Sans Std';
    font-style: normal;

    color: white;

}

.button-style:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: auto;
    height: 30px;

    background: white;
    border: 1px solid #134B97;
    border-radius: 4px;
    font-size: 11px;

    font-family: 'Neo Sans Std';
    font-style: normal;

    color: #134B97;
}


.fondoSelect {
  background-color: #fff;
  color: #6e707e;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  width: 255px;
}
.dropdown-scroll {
  max-height: 95px !important;
  min-height: 50px !important;
  overflow-y: auto !important;
  overflow-x: none !important;
  min-width: 250px;
  width: 150px;
  display: block !important;
  position: static !important;
}
.label-check-lab {
  font-size: 10px;
  height: 9px !important;
}
.label-text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #3C3C3C;

}
.menu-boticas {
  height: 100px;
  overflow-x: none;
  overflow-y: none;
  scrollbar-color: #B0E0E6 white !important;
}
