<ul
  class="custom-menu"
  *ngIf="visible"
  [ngStyle]="{ top: y + 'px', left: x + 'px' }"
  style="height: 180px"
>
  <li (click)="onAction('view')">🔍 Ver Sustitutos</li>
  <li (click)="onAction('filters')">🎛️ Mostrar Filtros</li>
  <li (click)="onAction('excel')">📊 Exportar a Excel</li>
  <li (click)="onAction('addProduct')">➕ Adicionar Producto</li>
  <li (click)="onAction('delete')">➖ Eliminar Producto</li>
  <li (click)="onAction('stockDetail')">🏥 Detallar Stock Botica</li>
  <li (click)="onAction('infraStock')">📉 Detallar Infrastock</li>
  <li (click)="onAction('finalZero')">0️⃣ Compra Final 0</li>
  <li (click)="onAction('discounts')">💰 Ver Descuentos Desagregados (Item)</li>
</ul>

<ul
  class="custom-menu"
  *ngIf="visible2"
  [ngStyle]="{ top: y + 'px', left: x + 'px' }"
  style="height: 32px"
>
  <li (click)="onAction('excel')">📊 Exportar a Excel</li>
</ul>

<ul
  class="custom-menu"
  *ngIf="visible3"
  [ngStyle]="{ top: y + 'px', left: x + 'px' }"
  style="height: 180px"
>
  <li (click)="onAction('view')">💰 Ver Sustitutos</li>
  <li (click)="onAction('filters')">🎛️ Mostrar Filtros</li>
  <li (click)="onAction('excel')">📊 Exportar a Excel</li>
  <li (click)="onAction('addProduct')">➕ Adicionar Producto</li>
  <li (click)="onAction('delete')">➖ Eliminar Producto</li>
  <li (click)="onAction('stockDetail')">🏥 Generar Consolidado O/C </li>
  <li (click)="onAction('infraStock')">📉 Eliminar Consolidado O/C</li>
  <li (click)="onAction('finalZero')">0️⃣ Compra Final 0</li>

</ul>


<ul
  class="custom-menu menu-filter lista-filtro"
  *ngIf="visible4"
  [ngStyle]="{ top: y + 'px', left: x + 'px' }"
>
  <li (click)="onAction('O-AZ')"><i class="fa-solid fa-arrow-up-a-z"></i> Ordernar de A a Z</li>
  <li (click)="onAction('O-ZA')"><i class="fa-solid fa-arrow-down-z-a"></i> Ordernar de Z a A</li>
  <li>
    <div class="m-0 p-0 pl-4 item-list">
      <input
        type="checkbox"
        (change)="onChangeCheckedAll($event)"
        [(checked)]="checkAllDescription"
      />
      TODOS
    </div>
    @if(filterColumn == 'Descripción'){
    <div  *ngFor="let item of menuListProducto" class="m-0 p-0 pl-4 item-list">
      <div *ngIf="item.visible" class="d-flex gap-2">
        <input type="checkbox" [(ngModel)]="item.check" (change)="onChangecheckAll()"/>
        {{ item.description }}
      </div>
    </div>
    } 
    @if(filterColumn == 'Labora.') {
    <div *ngFor="let item of menuListLabora" class="m-0 p-0 pl-4 item-list">
     <div *ngIf="item.visible" class="d-flex gap-2">
        <input type="checkbox" [(ngModel)]="item.check" (change)="onChangecheckAll()"/>
        {{ item.description }}
      </div>
    </div>
    }
    @if(filterColumn == 'Tipo') {
    <div *ngFor="let item of menuLisTipo" class="m-0 p-0 pl-4 item-list">
      <div *ngIf="item.visible" class="d-flex gap-2">
        <input type="checkbox" [(ngModel)]="item.check" (change)="onChangecheckAll()"/>
        {{ item.description }}
      </div>
    </div>
    }
    @if(filterColumn == 'Compra final') {
    <div *ngFor="let item of menuListCompraFinal" class="m-0 p-0 pl-4 item-list">
     <div *ngIf="item.visible" class="d-flex gap-2">
        <input type="checkbox" [(ngModel)]="item.check" (change)="onChangecheckAll()"/>
        {{ item.description }}
      </div>
    </div>
    }
     @if(filterColumn == 'Condición') {
    <div *ngFor="let item of menuListCondiciones" class="m-0 p-0 pl-4 item-list">
     <div *ngIf="item.visible" class="d-flex gap-2">
        <input type="checkbox" [(ngModel)]="item.check" (change)="onChangecheckAll()"/>
        {{ item.description }}
      </div>
    </div>
    }


  </li>
  <li>
    <div class="container-buttons-filter">
      <button (click)="onActionMenuHeadAC()">Aceptar</button>
      <button (click)="closeHeadTableAC()">cancelar</button>
    </div>
  </li>
</ul>
