<ul class="custom-menu" *ngIf="visible" [ngStyle]="{ top: y + 'px', left: x + 'px' }">
  <li (click)="onAction('view')" >🔍 Ver Sustitutos</li>
  <li (click)="onAction('filters')">🎛️ Mostrar Filtros</li>
  <li (click)="onAction('excel')">📊 Exportar a Excel</li>
  <li (click)="onAction('add')">➕ Adicionar Producto</li>
  <li (click)="onAction('add')">➖ Eliminar Producto</li>  
  <li (click)="onAction('stockDetail')">🏥 Detallar Stock Botica</li>
  <li (click)="onAction('infraStock')">📉 Detallar Infrastock</li>
  <li (click)="onAction('finalZero')">0️⃣ Compra Final 0</li>
  <li (click)="onAction('discounts')">💰 Ver Descuentos Desagregados (Item)</li>
</ul>

<ul class="custom-menu" *ngIf="visible2" [ngStyle]="{ top: y + 'px', left: x + 'px' }">
  <li (click)="onAction('excel')">📊 Exportar a Excel</li>
</ul>