p {
  color: white;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}
img{
  width: 20vw;
}

button {
  background-color: rgb(0, 97, 228);
}

.btn-primary {
  background-color: #134B97;
  border-color: #134B97;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: #134B97;

}

.content {
  font-family: "Roboto", sans-serif;
  background-color: rgb(7, 45, 156);
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.imagenFondo {
  background-image: url("../../../../public/assets/images/login.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content .contents .form-group,
.content .bg .form-group {
  position: relative;
}

.content .contents .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.content .contents .form-group input,
.content .bg .form-group input {
  background: transparent;
  border-bottom: 1px solid white;
}

.content .contents .form-group.first,
.content .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.content .contents .form-group.last,
.content .bg .form-group.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.content .contents .form-group label {
  font-size: 12px;
  position: relative;
  margin-bottom: 0;
  color: white;
}

.content .contents .form-group.focus {
  background: white;
}

.content .contents .form-group.field--not-empty label {
  margin-top: -25px;
}

.content .contents .form-control {
  border: none;
  padding: 0;
  font-size: 12px;
  border-radius: 0;
}

.content .contents .form-control:active,
.content .contents .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.control .caption {
  position: relative;
  top: .2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ccc;
}

.control input:checked~.control__indicator {
  background: rgb(0, 97, 228);
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: rgb(0, 97, 228);
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}

.is-invalid-text {
  padding: 0px 0px 0px 36px;
  font-family: MontserratLight;
  font-size: small;
  color: white;
}

.is-invalid-input {
  border-color: #FF0000;
  align-items: center;
}

.version-logueo {
  font-size: 11px;
  opacity: 0.4;
  text-align: center;
  margin: 2px;
}