<div class="modal-body">
  <div
    class="header-modal mb-0 p-2 d-flex align-items-baseline justify-content-between"
    (mousedown)="startDrag($event)"
  >
    <p class="title-modal m-0 p-0">Generar Orden de compra</p>
    <button type="button" class="button-cancel" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="m-0 p-0 body-modal">
    <!-- botones  -->
    <div class="m-0 p-0 col-md-12 d-flex align-items-baseline justify-content-between">
      <div class="m-0 p-0">
        <img src="{{ logoHeader }}" class="logo-cabecera" />
      </div>
      <div class="m-0 p-0 d-flex align-items-baseline gap-2">
        <button class="button-header">
          <i class="fa-solid fa-calendar-days"></i>
          Cronograma recepción
        </button>
        <button class="button-header">
          <i class="fa-solid fa-floppy-disk"></i>
          Guardar
        </button>
        <button class="button-header" (click)="openOutlook()">
          <i class="fa-solid fa-envelope"></i>
          Enviar
        </button>
      </div>
    </div>
    <!-- end botones -->
    <hr class="m-0 p-0" size="10px" width="100%" color="134B97" />

    <!-- datos -->
    <div class="d-flex justify-content-between">
      <div class="col m-0 p-0 m-0s">
        <p class="company-data">Oficina Principal</p>
        <p class="company-data">JR. Baltazar Grados Nº 810 - SIM - LIMA</p>
        <p class="company-data">Teléfono principal: 206 - 7000 Anexo: 108 RUC: 20515346113</p>
      </div>
      <div class="col d-flex align-items-baseline">
        <div class="row">
          <label for="fechacreacion">Fecha Creación</label>
          <div class="m-0 p-0">
            <input type="date"  [(ngModel)]="creationDate"/>            
          </div>
        </div>
        <div class="row">
          <label for="ordecompra">Orden Compra</label>
          <div class="m-0 p-0">
            <input type="text" placeholder="Número de Orden" />
          </div>
        </div>
      </div>
    </div>
    <!-- end datos -->
    <hr class="m-0 p-0" size="10px" width="100%" color="134B97" />

    <!-- formulario -->
    <div class="col-12 d-flex align-items-baseline">
      <div class="col-4 m-0 p-0">
        <div class="row m-0 p-0">
          <label for="proveedor">Proveedor:</label>
          <input type="text" placeholder="Porveedor" [(ngModel)]="sdesProv" readonly />
        </div>
        <div class="row m-0 p-0">
          <label for="ruc">Ruc</label>
          <input type="text" placeholder="Ruc" [(ngModel)]="rucProv" readonly />
        </div>
      </div>
      <div class="col-4 m-0 p-0">
        <div class="row m-0 p-0">
          <label for="Factura">Factura a:</label>
          <input type="text" placeholder="Factura" />
        </div>
        <div class="row m-0 p-0">
          <label for="direccionentrega">Dirección de entrega:</label>
          <input type="text" placeholder="Dirección" />
        </div>
      </div>
      <div class="col m-0 p-0 d-flex align-items-baseline">
        <div class="row m-0 p-0">
          <label for="fechacreacion">Fecha de creación:</label>
          <input type="date" />
        </div>
        <div class="row m-0 p-0">
          <label for="condicionpago">Condicción de pago:</label>
          <select class="input-select" id="condicionpago">
            <option value="0" disabled>--Seleccione--</option>
          </select>
        </div>
      </div>
    </div>
    <hr size="10px" width="100%" color="134B97" />
    <!-- end formulario -->

    <!-- tabla -->
    <div class="table-scroll-PO col-12">
      <table id="tablaAnalisiCompra" class="table-style-PO">
        <thead>
          <tr>
            <th>Index</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Laboratorio</th>
            <th>Cant.</th>
            <th>Boni</th>
            <th>V.V.F</th>
            <th>V.V.F Nuevo</th>
            <th>Desct.1</th>
            <th>Desct.2</th>
            <th>Desct.3</th>
            <th>Desct.4</th>
            <th>CosCom</th>
            <th>Parcial</th>
            <th>Igv</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataRows">
            <td>{{ item.item }}</td>
            <td>{{ item.codProd }}</td>
            <td>{{ item.producto }}</td>
            <td>{{ item.laboratorio }}</td>
            <td>{{ item.cantE }}</td>
            <td>{{ item.boni }}</td>
            <td>{{ item.vvf1 }}</td>
            <td>{{ item.vvf2 }}</td>
            <td>{{ item.desct1 }}</td>
            <td>{{ item.desct2 }}</td>
            <td>{{ item.desct3 }}</td>
            <td>{{ item.desct4 }}</td>
            <td>{{ item.coscom }}</td>
            <td>{{ item.parcial }}</td>
            <td>{{ item.igv }}</td>
            <td>{{ item.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end tabla -->

    <div class="col-12 d-flex align-items-baseline justify-content-end gap-3 m-0">
      <p class="text-total-value">Total Parcial: 48,1234</p>
      <p class="text-total-value">Total IGV (18%): 8,6897</p>
      <p class="text-total-value">Total Pagar: 40,783</p>
    </div>
  </div>
</div>
