.modal-PurchaseOrder .modal-dialog {
  max-width: 2000px;
  width: 1070px !important;
  height: auto !important;
  max-height: 1000px !important;
  position: absolute !important;
  z-index: 1060;
  padding: 0px !important;
  margin: 0px;
  top: 2%;
  left: 15%;
}

.modal {
  background: none !important;
  pointer-events: none;
}

.modal-body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;

}

.header-modal {
  position: sticky;
  top: 0;
  z-index: 2000;
  background: #134B97;
  color: white;
  width: 100%;
  cursor: move;
  margin: 0px 0px 20px 0px !important;
}

.button-cancel {

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 4px;

  width: auto;
  height: 25px;

  background: #FB2C36;
  border: 1px solid #FB2C36;
  border-radius: 4px;
  font-size: 12px;

  font-family: 'Montserrat';
  font-style: normal;


  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #ffffff;
}

.button-cancel:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: white;
  border: 1px solid #FB2C36;
  border-radius: 4px;
  font-size: 12px;

  font-family: 'Montserrat';
  font-style: normal;


  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #FB2C36;
}

.button-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 7px;
  gap: 6px;
  font-size: 8px;
  height: 30px;

  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  font-size: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  letter-spacing: 1.25px;

  color: #32509d;
}

.button-header:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  background: #32509d;
  border: 1px solid #32509d;
  border-radius: 4px;
  font-size: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  letter-spacing: 1.25px;
  color: #FFFFFF;
}

.company-data {
  font-family: 'Montserrat';
  font-size: 11.5px;
  line-height: 15px;
  color: #3C3C3C;
  margin: 1px;
  height: 15px;
}

.textarea_input {
  height: 20px;
  font-family: 'Montserrat' !important;
  font-style: normal;
  font-size: 10px !important;
  line-height: 15px !important;
  color: #3C3C3C !important;
}

.container_input_fecha_entrega {
  width: 200px;
}

.label_title {
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #3C3C3C;
  margin: 1px;
  width: 100px;
}

input {
  box-sizing: border-box;
  width: 280px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(175, 167, 167, 0.7);
  border-radius: 4px;
  font-size: 10px;
}

.form-control {
  font-size: 10px;
  height: 30px;

}

.btn {
  padding: 0% 2%;
  height: 30px;
}

.input-select {
  box-sizing: border-box;
  width: 330px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(175, 167, 167, 0.7);
  border-radius: 4px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: #7A7A7A;
  padding: 0px;
  font-size: 10px;
}

.input-select-option {
  box-sizing: border-box;
  width: 120px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(175, 167, 167, 0.7);
  border-radius: 4px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: #7A7A7A;
  padding: 0px;
  font-size: 10px;
}

.selected {
  background: #D7E3F3 !important;
}

/* Estilo de la tabla */
.table-scroll-PO {
  padding: 0px;
  overflow-x: auto;
  height: 230px;
  border: #DCEBFF solid;
  scrollbar-color: #B0E0E6 white !important;
}

.table-style-PO {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.table-style-PO thead th {
  background: #134B97;
  color: white;
  text-align: center;
}

.table-style-PO th,
td {

  font-family: 'Montserrat' !important;
  font-style: normal;
  padding: 4px !important;
  margin: 0px !important;
}

.table-style-PO th {
  overflow: hidden;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: black;
}

.table-style-PO td {
  font-size: 10px;
  color: #3C3C3C;
  background: white;
  vertical-align: top;
  text-align: center;
}

.table-style-PO th,
td {
  white-space: nowrap;
  padding: 0px;
}

.input-table-AC {
  box-sizing: border-box;
  width: 50px;
  height: 20px;

  background: #FFFFFF;
  border: 0.5px solid rgba(175, 167, 167, 0.7);
  border-radius: 4px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: #7A7A7A;
  padding: 1px;
  margin: 0px;
  font-size: 8px;
  text-align: center;
}

/* End estilos de la tabla */

/* hover table */
.background-hover-fixed-column {
  background-color: #B0E0E6 !important;
}

.background-white-fixed-column {
  background-color: white !important;
}

.background-selected-column {
  background-color: #D7E3F3 !important;
}

/* End hover table */

.text-total-value {
  font-size: 10px;
  color: black;
  background: white;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}