<div class="modal-body">
  <div class="header-modal mb-0 p-2 d-flex align-items-baseline justify-content-between"
    (mousedown)="startDrag($event)">
    <p class="title-modal m-0 p-0">Generar Orden de compra</p>
    <button type="button" class="button-cancel" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="m-0 p-2">
    <!-- botones  -->
    <div class="m-0 pl-3 pr-3 pt-0 pb-3 col-md-12 d-flex align-items-baseline justify-content-between">
      <div class="m-0 p-0">
        <img src="{{ logoHeader }}" class="logo-cabecera" />
      </div>
      <div class="m-0 p-0 d-flex align-items-baseline gap-2">
        <!-- <button class="button-header">
          <i class="fa-solid fa-calendar-days"></i>
          Cronograma recepción
        </button> -->
        <button class="button-header" (click)="saveOrdenCompra()" [disabled]="isGenerationOC">
          <i class="fa-solid fa-floppy-disk"></i>
          Guardar
        </button>
        <button class="button-header" (click)="openOutlook()" [disabled]="!isGenerationOC">
          <i class="fa-solid fa-envelope"></i>
          Enviar
        </button>
      </div>
    </div>
    <!-- end botones -->
    <hr class="m-0 p-0" size="10px" width="100%" color="134B97" />

    <!-- datos -->
    <div class="col-12 d-flex justify-content-between m-0 pr-3 pl-3 pt-2 pb-2">
      <div class="col-8 m-0 p-0 pt-1">
        <p class="company-data">Oficina Principal</p>
        <p class="company-data">{{ directionSelect.direccionCompleta }}</p>
        <p class="company-data">Teléfono principal: 206 - 7000 Anexo: 108 RUC: 20515346113</p>
      </div>
      <div class="col-4 d-flex align-items-start gap-3 justify-content-end">
        <div class="m-0 p-0">
          <label class="label_title" for="fechacreacion">Fecha Creación</label>
          <div class="m-0 p-0">
            <div class="input-group">
              <input class="form-control" name="input_fecha_creacion" ngbDatepicker [(ngModel)]="creationDate"
                #d="ngbDatepicker" readonly />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                <i class="fa-solid fa-calendar-days ico_goc"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="">
          <label class="label_title" for="ordecompra">Orden Compra</label>
          <div class="m-0 p-0">
            <!-- <input type="text" placeholder="Número de Orden" [(ngModel)]="nrOrderCompra" readonly /> -->
            <label class="label_title" for="nroOrdenCompra">{{ nrOrderCompra }}</label>
          </div>
        </div>
      </div>
    </div>
    <!-- end datos -->
    <hr class="m-0 p-0" size="10px" width="100%" color="134B97" />

    <!-- formulario -->
    <div class="col-12 d-flex align-items-baseline m-0 pl-3 pr-3 pt-2 pb-2 gap-1">
      <!-- columna  1 -->
      <div class="col-5 m-0 p-0">
        <div class="m-0 p-0 pb-2">
          <label class="label_title" for="proveedor">Proveedor:</label>
          <input type="text" placeholder="Porveedor" [(ngModel)]="sdesProv" readonly />
        </div>

        <div class="m-0 p-0 pb-2">
          <label class="label_title" for="ruc">Ruc</label>
          <input type="text" placeholder="Ruc" [(ngModel)]="rucProv" readonly />
        </div>
        <div class="m-0 p-0">
          <label class="label_title" for="Factura">Factura a:</label>
          <input type="text" [value]="directionSelect.facturarA" readonly />
        </div>

      </div>
      <!-- Columna 2 -->
      <div class="col-4 m-0 p-0">
        <div class="m-0 p-0 d-flex">
          <label class="label_title" for="fechacreacion">Fecha entrega:</label>
          <div class="container_input_fecha_entrega m-0 p-0">
            <div class="input-group">
              <input class="form-control" name="input_fecha_entrega" ngbDatepicker [(ngModel)]="deliveryDate"
                #e="ngbDatepicker" readonly />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="e.toggle()" type="button">
                <i class="fa-solid fa-calendar-days ico_goc"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="m-0 p-0">
          <label class="label_title" for="direccionentrega">Dirección entrega:</label>
          <select class="m-0 input-select" [(ngModel)]="directionSelect">
            <option *ngFor="let data of arrayDirections" [ngValue]="data">
              {{ data.direccionEntrega }}
            </option>
          </select>
        </div>
      </div>
      <!-- Columna 3 -->
      <div class="col-3 m-0 p-0">
        <label class="label_title" for="condicionpago">Condición pago</label>
        <select class="m-0 input-select-option" [(ngModel)]="condicionesPagoSelect">
          <option *ngFor="let item of condicionesPaog" [ngValue]="item">{{ item.descripcion }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-12 m-0 pl-3 pr-3 pt-0 pb-2">
    <label class="label_title" for="observación">Observación:</label>
    <textarea class="col-12 textarea_input" name="observacion" rows="1" [(ngModel)]="obs"></textarea>
  </div>

  <hr size="10px" width="100%" color="134B97" />
  <!-- end formulario -->

  <!-- tabla -->
  <div class="table-scroll-PO col-12 m-0 pr-3 pl-3 pt-2 pb-2" (contextmenu)="openContextMenuGOC($event, 5)">
    <table id="tablaAnalisiCompra" class="table-style-PO">
      <thead>
        <tr>
          <th *ngFor="let dataHead of tableHead">
            {{ dataHead }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataRows; let i = index" (mouseenter)="isHoveringGOC = true"
          (mouseleave)="isNotRowHover()" (mouseover)="onRowHover(i)" (click)="isRowSelectedGOC = i"
          [class.selected]="isRowSelectedGOC === i">
          <td [ngClass]="siRowSelectedHover(i)">{{ item.item }}</td>
          <td [ngClass]="siRowSelectedHover(i)">{{ item.codProd }}</td>
          <td [ngClass]="siRowSelectedHover(i)">{{ item.producto }}</td>
          <td [ngClass]="siRowSelectedHover(i)">{{ item.laboratorio }}</td>
          @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" [(ngModel)]="item.cantE" (focus)="getlastValue($event)"
              (change)="calcularValoresInputGOC(headtable.CANT, i)" />
          </td>
          } @else {
          <td [ngClass]="siRowSelectedHover(i)">{{ item.cantE | number : '1.2-2' }}</td>
          } @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" (focus)="getlastValue($event)" [(ngModel)]="item.boni" />
          </td>
          } @else{
          <td [ngClass]="siRowSelectedHover(i)">{{ item.boni | number : '1.2-2' }}</td>
          }
          <td [ngClass]="siRowSelectedHover(i)">{{ item.vvf1 | number : '1.2-2' }}</td>

          @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" (focus)="getlastValue($event)" [(ngModel)]="item.vvf2" />
          </td>
          } @else{
          <td [ngClass]="siRowSelectedHover(i)">{{ item.vvf2 | number : '1.2-2' }}</td>
          } @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" [(ngModel)]="item.desct1" (focus)="getlastValue($event)"
              (change)="calcularValoresInputGOC(headtable.DESCT1, i)" />
          </td>
          }@else{
          <td [ngClass]="siRowSelectedHover(i)">{{ item.desct1 | number : '1.2-2' }}</td>
          } @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" [(ngModel)]="item.desct2" (focus)="getlastValue($event)"
              (change)="calcularValoresInputGOC(headtable.DESCT2, i)" />
          </td>
          }@else{
          <td [ngClass]="siRowSelectedHover(i)">{{ item.desct2 | number : '1.2-2' }}</td>
          } @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" [(ngModel)]="item.desct3" (focus)="getlastValue($event)"
              (change)="calcularValoresInputGOC(headtable.DESCT3, i)" />
          </td>
          } @else{
          <td [ngClass]="siRowSelectedHover(i)">{{ item.desct3 | number : '1.2-2' }}</td>
          } @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" [(ngModel)]="item.desct4" (focus)="getlastValue($event)"
              (change)="calcularValoresInputGOC(headtable.DESCT4, i)" />
          </td>
          } @else {
          <td [ngClass]="siRowSelectedHover(i)">{{ item.desct4 | number : '1.2-2' }}</td>
          } @if(isRowSelectedGOC === i){
          <td [ngClass]="siRowSelectedHover(i)">
            <input type="number" class="input-table-AC" (focus)="getlastValue($event)" [(ngModel)]="item.coscom" />
          </td>
          }@else{
          <td [ngClass]="siRowSelectedHover(i)">{{ item.coscom | number : '1.2-2' }}</td>
          }
          <td [ngClass]="siRowSelectedHover(i)">{{ item.parcial | number : '1.2-2' }}</td>
          <td [ngClass]="siRowSelectedHover(i)">{{ item.igv | number : '1.2-2' }}</td>
          <td [ngClass]="siRowSelectedHover(i)">{{ item.total | number : '1.2-2' }}</td>
      </tbody>
    </table>
  </div>
  <!-- end tabla -->

  <div class="col-12 d-flex align-items-baseline justify-content-between  gap-3 m-0 pr-3 pl-3 pt-2 pb-2">
    <div>
      <p class="text-total-value">ELABORADO POR : {{ dataUsuario.NombreUsuario }}</p>
    </div>
    <div class="d-flex align-items-baseline justify-content-end">
      <p class="text-total-value">Total Parcial: {{ totalParcial | number : '1.2-2' }}</p>
      <p class="text-total-value">Total IGV (18%): {{ totaligv | number : '1.2-2' }}</p>
      <p class="text-total-value">Total Pagar: {{ totalPagar | number : '1.2-2' }}</p>
    </div>
  </div>
</div>

<app-option-click (action)="handleMenuAction($event)" ></app-option-click>
<app-alertToast *ngIf="showToast" [message]="toastMessage" [type]="toastType" [duration]="5000"></app-alertToast>
<loading *ngIf="loading"></loading>