.modal-detalleStock .modal-dialog {
    max-width: 3000px !important;
    width: 700px !important;
    height: 900px !important;
    position: absolute !important;
    z-index: 1060;
    padding: 0px !important;
    margin: 0px;
    top: 2%;
    left: 25%;
}

.modal {
    background: none !important;
    pointer-events: none;
}

.modal-body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.header-modal {
    background: #134B97;
    color: white;
    cursor: move;
}

.button-cancel:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: white;
    border: 1px solid #FB2C36;
    border-radius: 4px;
    font-size: 12px;

    font-family: 'Montserrat';
    font-style: normal;


    display: flex;
    align-items: center;
    letter-spacing: 1.25px;

    color: #FB2C36;
}

.title-modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    padding: 0px;
}

.button-cancel {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: auto;
    height: 25px;

    background: #FB2C36;
    border: 1px solid #FB2C36;
    border-radius: 4px;
    font-size: 12px;

    font-family: 'Montserrat';
    font-style: normal;


    display: flex;
    align-items: center;
    letter-spacing: 1.25px;

    color: #ffffff;
}

.table-scroll-show-Det {
    width: 100%;
    height:490px;
    padding: 0px;
    overflow-y: auto !important;
    overflow-x: auto !important;
    display: block !important;
    position: static !important;
    border: #DCEBFF solid;
    scrollbar-color: #B0E0E6 white !important;
}

.table-style-show-Det thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    margin: 0px;
}

.table-style-show-Det {
    width: 100%;
    min-height: auto;
}

.table-style-show-Det thead th {
    background: #134B97;
    color: white;
}

.table-style-show-Det th,
td {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 22px;
}

.table-style-show-Det th {
    font-weight: bold;
    font-size: 10px;
    color: black;
    background: white;
}

.table-style-show-Det td {
    font-size: 10px;
    color: #3C3C3C;
    background: white;
}

.table-style-show-Det th,
td {
    text-align: center;
    white-space: nowrap;
    padding: 0px 8px;
    text-align: center;
    margin: 0px;
}