.modal-autorizacion .modal-dialog {
    max-width: 1000px !important;
    width: 400px !important;
    height: 310px !important;
    position: absolute !important;
    z-index: 1060;
    padding: 0px !important;
    margin: 0px;;
    top: 8%;
    left: 30%;
}

.modal {
    background: none !important;
    pointer-events: none;
}

.modal-body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.header-modal {
    background: #134B97;
    color: white;
    cursor: move;
}

.button-cancel {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: auto;
    height: 25px;

    background: #FB2C36;
    border: 1px solid #FB2C36;
    border-radius: 4px;
    font-size: 12px;

    font-family: 'Montserrat';
    font-style: normal;


    display: flex;
    align-items: center;
    letter-spacing: 1.25px;

    color: #ffffff;
}

.button-cancel:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: white;
    border: 1px solid #FB2C36;
    border-radius: 4px;
    font-size: 12px;

    font-family: 'Montserrat';
    font-style: normal;


    display: flex;
    align-items: center;
    letter-spacing: 1.25px;

    color: #FB2C36;
}

.title-modal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    padding: 0px;
}

.button-success {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    gap: 6px;
    font-size: 8px;
    width: 170PX;
    height: 30px;

    background: #134B97;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 1.25px;

    color: white;
}

.button-success:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    gap: 6px;
    font-size: 8px;
    width: 170PX;
    height: 30px;

    background: white;
    border: 1px solid #134B97;
    border-radius: 4px;
    font-size: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 1.25px;

    color: #134B97;
}

.buton-cancel-Aut {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    gap: 6px;
    font-size: 8px;
    width: 170PX;
    height: 30px;

    background: #FB2C36;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 1.25px;

    color: white;
}

.buton-cancel-Aut:hover {
     box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    gap: 6px;
    font-size: 8px;
    width: 170PX;
    height: 30px;

    background: white;
    border: 1px solid #FB2C36;
    border-radius: 4px;
    font-size: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 1.25px;

    color: #FB2C36;
}