<div class="m-0 p-0 d-flex justify-content-center">
  <table class="table-style">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Punto de venta</th>
        <th>Naximo almacén</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Volumen</td>
        <td>14</td>
        <td>15</td>
        <td>29</td>
      </tr>
      <tr>
        <td>Propios</td>
        <td>10</td>
        <td>10</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Preferidos</td>
        <td>15</td>
        <td>15</td>
        <td>30</td>
      </tr>
    </tbody>
  </table>
</div>
