<div class="m-0 p-0 d-flex justify-content-center">
  <table class="table-style" id="politicasinventario">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Punto de venta</th>
        <th>Naximo almacén</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowsLb">
        <td>{{ data.ABC }}</td>
        <td>{{ data.puntoVenta }}</td>
        <td>{{ data.MaxAlmacen }}</td>
        <td>{{ data.Total }}</td>
      </tr>
    </tbody>
  </table>
</div>
