.table-scroll {
  overflow-x: auto;
  height: 150px;
  border: #DCEBFF solid;
}

/* Estilo de la tabla */
table{
  border: #DCEBFF solid;
}
.table-style thead th {
    background: #134B97;
  color: white;
}

.table-style th,
td {
  width: 135px;
  height: 48px;
  font-family: 'Open Sans';
  font-style: normal;

  line-height: 22px;
}

.table-style th {
  font-weight: bold;
  font-size: 13px;
  color: black;
  background: white;
}

.table-style td {
  font-size: 12px;
  color: #3C3C3C;
  background: white;
}

.table-style th,
td {
  white-space: nowrap;
  text-align: left;
  padding: 4px;
}

/* En estiñlos de la tabla */